/* Some custom styles for the lander example, that do not belong into the Charming framework itself */

.example-block-bg-mainboard {
  background-image: url('/assets/images/JumbotronBG.png');
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskufiarabic.css);
@import url(//fonts.googleapis.com/earlyaccess/thabit.css);

html[lang=ar] body {
  font-family: 'Noto Sans Kufi Arabic', sans-serif;
  font-size: 1rem;
}
bdo {
  font-family: monospace;
}

html[dir="ltr"] .language-switcher { top: 0; right: 0; }
html[dir="rtl"] .language-switcher { top: 0; left: 0; }
.language-switcher {
  position: absolute;
  text-align: end;
}
.language-switcher span {
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 0 0 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.9);
}
.language-switcher a {
  color: #01e6ff;
}
.language-switcher a:hover {
  color: #1a6781;
}

.navbar {

}

.navbar-brand {
  max-width: 272px;
}

.merits-dark, .block-dark {
  background-color: #004459;
  background: linear-gradient(to right, #004459, #1a6781);
}

.merits-dark .merits-item {
  border-color: #007498;
}

.btn-outline-accent-2 {
  border-color: #1a6781;
}
.btn-outline-accent-2:hover {
  color: #fff;
  background-color: #004459;
  border-color: #004459;
}

.box-head-accent-1 {
  background: linear-gradient(45deg,#01e6ff,#004459);
  background-color: #01e6ff;
}

a {
  color: #1a6781;
}
a:hover {
  color: #004459;
}

.iconchunk-accent-1 .iconchunk-icon {
  border-color: #36C3ED;
}

main h3 {
  margin-top: 1.5rem;
}
main ol > li:nth-child(n+2) > p {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.team-member {
  margin-bottom: 3rem;
}

#google-map {
  background-color: white;
}

#google-map noscript img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  width: auto;
}

.ftr-dark {
  background-color: #004459;
}

@media (max-width: 576px) {
  .ftr {
    text-align: center;
  }
}
