/* Some custom styles for the lander example, that do not belong into the Charming framework itself */

.example-block-bg-mainboard {
  background-image: url('/assets/images/JumbotronBG.png');
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskufiarabic.css);

html[lang=ar] body {
  font-family: 'Noto Sans Kufi Arabic', sans-serif;
  font-size: 1rem;
}

.navbar-brand {
  max-width: 272px;
}

main h3 {
  margin-top: 1.5rem;
}
main ol > li:nth-child(n+2) > p {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.team-member {
  margin-bottom: 3rem;
}

#google-map {
  background-color: white;
}

#google-map noscript img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  width: auto;
}

@media (max-width: 576px) {
  .ftr {
    text-align: center;
  }
}
