<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}"
  dir="{{ .Site.Params.dir }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {{ .Site.Title }}
  </title>

  <link rel="stylesheet" href='{{ "css/Pe-icon-7-stroke.css" | relURL }}'>
  <link rel="stylesheet" href='{{ "css/font-awesome.min.css" | relURL}}'>
  <link rel="stylesheet" href='{{ "css/charming.min.css" | relURL }}'>
  <link rel="stylesheet" href='{{ "css/example.css" | relURL }}'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,900,700,400italic">
</head>

<body>
  {{ partial "header.html" . }}

  {{ block "main" . }}{{ end }}

  {{ partial "footer.html" . }}

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
   crossorigin=""/>

  <script src='{{ "js/jquery.min.js" | relURL }}'></script>
  <script src='{{ "js/popper.min.js" | relURL }}'></script>
  <script src='{{ "js/bootstrap.min.js" | relURL }}'></script>
  <script src='{{ "js/charming.js" | relURL }}'></script>
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin="">
  </script>
</body>
</html>
