{{ define "main" }}
<section id="merits" class="merits merits-inverse text-center block-bb">
  <div class="container">
    <div class="row justify-content-center">

      {{ range where .Site.RegularPages "Section" "service" }}

      <div class="col-md-6 col-lg-auto col-xl merits-item">
        <span class="icon merits-icon {{ .Params.icon }}"></span>
        <h2 class="h5">{{ .Title }}</h2>
        <a href="{{ .URL }}"
          class="btn btn-outline-accent-1">
          Read More
        </a>
      </div>

      {{ end }}

    </div>
  </div>
</section>

<section class="block block-bb">
  <div class="container">
    <div class="block-heading">
      {{ .Content }}

      <p class="mt-2">
        <a class="btn btn-outline-accent-2 btn-icon btn-md"
          href="{{ .Params.brochure_url  | relURL }}">
          <span class="icon icon-sm fa fa-file-pdf-o"></span>
          <span class="btn-icon-label">Download Brochure</span>
        </a>
      </p>
    </div>
  </div>
</section>
{{ end }}
